
/*** Core page styles to set the primary colours and styles to be inherited by everything else ***/

/* Core Styling */
html * {
        font-family:sans-serif;
}
body {
        margin:2em auto;
        max-width:45em;
        min-width:35em;
        line-height:1.5;
        font-size:large;
        color:#65f85a;
        background-color:#121619;
        padding:0 2em;
}
/********************************/
/********************************/

/*** Post styling. This section is for defining markup classes to make it easier to write prettier posts. ***/

img {
    max-width: 85%;
    max-height: 100%;
    margin-top:1em;
    margin-bottom:1em;
    border-radius:1.2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

code {
	display:block;
        background-color:#293137;
        border-radius:1.2em;
        padding-left:2em;
        padding-right:2em;
        line-height:2em;
        padding-top:0.5em;
        padding-bottom:0.5em;
        color:#65f85a;
	font-family:monospace;
}

pre {
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
}

blockquote {
        border-left:0.1em solid #65f85a;
        display:block;
        margin-top: 1em;
        margin-bottom: 2em;
        margin-left: 3em;
        padding-left: 1em;
        margin-right: 4em;
        font-style: italic;
        color:#46ab3e;
}

hr {
        color:#65f85a;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
}

#endline { /* Special kind of <hr> for spacing out footnotes from the rest of a post */
        color:#65f85a;               
        margin-left: auto;              
        margin-right: auto;
        max-width: 100%;
        margin-top: 6em;
}

a {
        color:#b8f1b4
}

h1 {
        line-height:1.2
}

h2,h3 {
        padding-top:2em;
        line-height:1.2
}

/* Style for inline dates. These are configured via a separate include file in /config/content_header.html. See notes on Arise page creation for more details. */
.date { 
        padding-bottom:0;
        margin-bottom:0;
        font-size:1em;
        float:right;
}

@media screen and (max-width: 900px) {
.date { 
        text-align:right;
}
}
@media screen and (min-width: 600px) {
.date { 
        float:right;
        margin-left:3em;
}
}

/********************************/
/********************************/


/*** Modular component styles. Includes styling for the headers, navigation controls, and footer. ***/

/* Site logo. Styled to responsively move to either left or be centred, depending if the page is being viewed on desktop or mobile respectively. */
.logo {           
        margin-bottom:2em;
        text-align:center;
}

/* Navbar styling. */
.topbar {
        padding-right:1em;
        border-top:0.1em solid #65f85a;
        border-bottom:0.1em solid #65f85a;
        margin-bottom:2em;
        text-align:center;
        font-size:large;
	font-variant-caps:all-small-caps;
        line-height:2;

}
.topbar a {
color:#65f85a;
text-decoration:none;
}

/* Site footer styling */
.footer {
        border-top:0.1em solid #65f85a;
        font-size:small;
        margin-top:6em;
        text-align:center;
}

/********************************/
/********************************/


/*** Other misc garbage ***/

/* Arise Index Style */
.arise-toc-td {
  border-width: 1px;
  border-color: #65f85a;
  border-top-style: solid;
  text-align: center;
  padding-right: 10px;
  padding-bottom: 5px
}
.arise-toc-th {
  padding-bottom: 20px;
  border-bottom: 1px;
  border-bottom-style: solid;
}

/* On screens that are 1300px or less, set the background color to blue */
@media screen and (max-width: 1300px) {
  body {
        font-size: xx-large;
  }
  .topbar {
        font-size: xx-large;
  }
}
